h1 {
    font-size: 58px;
    line-height: 1.2em;
}

h2 {
    font-size: 42px;
    line-height: 1.4em;
}

h3 {
    font-size: 26px;
    line-height: 1.4em;
}

h4 {
    font-size: 23px;
    line-height: 1.4em;
}

h5 {
    font-size: 18px;
    line-height: 1.3em;
}

h6 {
    font-size: 16px;
    line-height: 1.4em;
}

.text__center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-800);
    margin-top: 0;
    font-weight: 700;
}

.paragraph__small {
    font-size: 14px;
    line-height: 1.71429em;
}

.paragraph__large {
    font-size: 24px;
    line-height: 1.58333em;
}

p {
    margin: 0;
}

@media screen and (max-width: 48rem) {
    h1 {
        font-size: 40px;
        line-height: 1.3em;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 30rem) {
    h1 {
        font-size: 36px;
        line-height: 1.2em;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}