<phpunit bootstrap="../database/database.php" colors="true" testdox="true">
    <testsuites>
        <testsuite name="Test et génération de la base de donnée">
            <file>UsersTest.php</file>
            <file>AdminsTest.php</file>
            <file>TeachersTest.php</file>
            <file>StudentsTest.php</file>
            <file>CompaniesTest.php</file>
            <file>EvaluationsTest.php</file>
            <file>OffersTest.php</file>
            <file>ApplicationsTest.php</file>
            <file>WishlistsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>