{% extends "dashboard.twig" %}

{% block content %}

    <section class="admin__container">
        <div class="admin__content">
            <h2>Bonjour, Martin !</h2>
            <p>Bienvenue sur votre espace administrateur.</p>
        </div>

    </section>

{% endblock %}