{% extends "sidebar.twig" %}

{% block content %}

    <section class="offer__container">
        <form class="offer__content" action="/ajouter-pilote" method="POST">
            <h2>Ajouter un pilote</h2>
            <p>Ajoutez un nouveau pilote à la plateforme.</p>

            <label for="last_name">Nom du pilote</label>
            <input name="last_name" type="text" placeholder="Nom du pilote" id="last_name" required>

            <label for="first_name">Prénom du pilote</label>
            <input name="first_name" type="text" placeholder="Prénom du pilote" id="first_name" required>

            <label for="email">Email du pilote</label>
            <input name="email" type="email" placeholder="Email du pilote" id="email" required>

            <label for="password">Mot de passe du pilote</label>
            <input name="password" type="password" placeholder="Mot de passe du pilote" id="password" required>

            <label for="department">Département du pilote</label>
            <input name="department" type="text" placeholder="Département du pilote" id="department" required>

            <label for="specialization">Spécialisation du pilote</label>
            <input name="specialization" type="text" placeholder="Spécialisation du pilote" id="specialization"
                   required>

            <label for="office">Bureau du pilote</label>
            <input name="office" type="text" placeholder="Bureau du pilote" id="office" required>

            <label for="years_of_experience">Années d'expérience du pilote</label>
            <input name="years_of_experience" type="number" placeholder="Années d'expérience du pilote"
                   id="years_of_experience" required>

            <input type="submit" class="button__primary button--small crud_add" value="Ajouter le pilote">
        </form>
    </section>

{% endblock %}