{% extends "base.twig" %}

{% block content %}

    <section class="offers__container">
        <h2 class="text__center">Les dernières offres de stages</h2>
        <p class="text__center">Découvrez les dernières offres de stages publiées et disponibles sur la plateforme
            Intern Rift.</p>

        <article class="offers__cards">
            <a class="offers__card" href="#">
                <p class="offers__card__company">Siemens</p>
                <h3 class="offers__card__title">Stage en systèmes embarqués</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Strasbourg, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">Cisco</p>
                <h3 class="offers__card__title">Stage en Réseaux/Systèmes</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Paris, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">GlobalExam</p>
                <h3 class="offers__card__title">Stage en développement web</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Londres, Angleterre
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="/details-offre">
                <p class="offers__card__company">Siemens</p>
                <h3 class="offers__card__title">Stage en POO</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Strasbourg, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        CDI
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">Siemens</p>
                <h3 class="offers__card__title">Stage en systèmes embarqués</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Strasbourg, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">Cisco</p>
                <h3 class="offers__card__title">Stage en Réseaux/Systèmes</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Paris, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">GlobalExam</p>
                <h3 class="offers__card__title">Stage en développement web</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Londres, Angleterre
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="/details-offre">
                <p class="offers__card__company">Siemens</p>
                <h3 class="offers__card__title">Stage en POO</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Strasbourg, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        CDI
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">Siemens</p>
                <h3 class="offers__card__title">Stage en systèmes embarqués</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Strasbourg, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

            <a class="offers__card" href="#">
                <p class="offers__card__company">Cisco</p>
                <h3 class="offers__card__title">Stage en Réseaux/Systèmes</h3>
                <div class="offers__card__tags">
                    <p>
                        <i class="icon">location_on</i>
                        Paris, France
                    </p>
                    <p>
                        <i class="icon">schedule</i>
                        Stage
                    </p>
                </div>
                <button class="button__primary">Postuler
                    <i class="icon button__icon">arrow_forward</i>
                </button>
            </a>

        </article>

        <div class="pagination">
            <div class="pagination__pages">
                <a class="pagination__link first disabled" href="#">
                    <i class="icon">chevron_left</i>
                </a>
                <a class="pagination__link active" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">3</a>
                <a class="pagination__link" href="#">...</a>
                <a class="pagination__link" href="#">7</a>
                <a class="pagination__link last" href="#">
                    <i class="icon">chevron_right</i>
                </a>
            </div>
            <div class="pagination__numbers">
                Résultats 1 - 10 sur 79
                <select class="pagination__select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </section>

{% endblock %}