{% extends "base.twig" %}

{% block content %}

    <section class="hero__container">
        <div>
            <p class="error__code">404</p>
            <h1 class="error__title">Page non trouvée</h1>
            <p class="error__description">La page que vous cherchez n'existe pas ou a été déplacée. Veuillez vérifier
                l'URL et réessayer.</p>
            <a href="./index.html" class="button__primary">
                Retour à l'accueil
                <i class="icon button__icon">arrow_forward</i>
            </a>
        </div>
        <img alt="404 | Intern Rift | Image de Storyset" class="notfound__image" src="/assets/img/error.svg">
    </section>

{% endblock %}