{% extends "base.twig" %}

{% block content %}

    <section class="hero__container">
        <div>
            <p class="error__code">{{ code }}</p>
            <h1 class="error__title">{{ message }}</h1>
            <p class="error__description">{{ description }}</p>
            <a href="/" class="button__primary">
                Retour à l'accueil
                <i class="icon button__icon">arrow_forward</i>
            </a>
        </div>
        <img alt="404 | Intern Rift | Image de Storyset" class="notfound__image" src="/assets/img/error.svg">
    </section>

{% endblock %}