{% extends "base.twig" %}

{% block content %}

    <section class="text__container">
        <h2>Mentions légales</h2>
        <p>En vigueur au 01/01/2025</p>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
            dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site Intern
            Rift les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le site Intern Rift par l’Utilisateur implique acceptation intégrale et
            sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
        <h3>ARTICLE 1 : L'ÉDITEUR</h3>
        <p>L'édition et la direction de la publication du site Intern Rift est assurée par le Group n°2, domiciliée à
            Strasbourg.</p>
        <h3>ARTICLE 2 : L'HÉBERGEUR</h3>
        <p>L'hébergeur du site Intern Rift est la société OVH, dont le siège social est situé à Roubaix.</p>
        <h3>ARTICLE 3 : ACCÈS AU SITE</h3>
        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou
            non et pouvant découlant d’une nécessité de maintenance.</p>
        <p>En cas de modification, interruption ou suspension des services
            le site Intern Rift ne saurait être tenu responsable.</p>
        <h3>ARTICLE 4 : COLLECTE DES DONNÉES</h3>
        <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de
            la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
            libertés.</p>
        <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
            d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce
            ce droit :</p>
        <ul>
            <li>par mail à l'adresse email :
                <a href="">contact@intern-rift.fr</a>
            </li>
            <li>par voie postale au : Strasbourg</li>
        </ul>
        <h3>ARTICLE 5 : COOKIES</h3>
        <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur
            son logiciel de navigation.</p>
        <p>En naviguant sur le site, il les accepte.</p>
        <h3>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</h3>
        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site Intern
            Rift, sans autorisation de l’Éditeur est prohibée et pourra entraînée des actions et poursuites judiciaires
            telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
        <h3>ARTICLE 7 : RESPONSABILITÉ</h3>
        <p>Les sources des informations diffusées sur le site Intern Rift sont réputées fiables mais le site ne garantit
            pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
        <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré
            des mises à jour régulières, le site Intern Rift ne peut être tenu responsable de la modification des
            dispositions administratives et juridiques survenant après la publication.</p>
        <p>De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information
            contenue dans ce site.</p>
        <p>L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit
            sa forme, est interdite.</p>
        <p>L'Utilisateur assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline
            toute responsabilité.</p>
        <p>Le site Intern Rift ne peut être tenu pour responsable d’éventuels virus qui
            pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à
            l’accès, ou au téléchargement provenant de ce site.</p>
        <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
            insurmontable d'un tiers.</p>
        <h3>ARTICLE 8 : LIENS HYPERTEXTES</h3>
        <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces
            liens, il sortira du site Intern Rift.</p>
        <p>Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun
            cas, être responsable de leur contenu.</p>
        <h3>ARTICLE 9 : ÉVOLUTION DU CONTRAT</h3>
        <p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.</p>
        <h3>ARTICLE 10 : DURÉE</h3>
        <p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à
            compter de l'utilisation du service.</p>
    </section>

{% endblock %}
