.login__container {
    position: relative;
    margin: 50px auto 0;
    width: 850px;
    height: 550px;
    border-radius: 30px;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.login__content {
    margin-left: 50%;
    height: -webkit-fill-available;
    align-items: center;
    display: flex;
    color: var(--neutral-800);
    padding: 40px;
    position: relative;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.login__content.register {
    visibility: hidden;
}

.login__container.active .login__content.register {
    visibility: visible;
}

.login__container h1 {
    text-align: center;
    font-size: 36px;
    margin: -10px 0;
}

.login__container .login__input {
    position: relative;
    margin: 40px 0;
}

.login__container .login__input input {
    padding: 19px 50px 19px 20px;
    background: var(--neutral-200);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.login__input .icon {
    position: absolute;
    right: 20px;
    top: 55%;
    font-size: 23px;
    color: var(--neutral-700);
}

.login__forgot {
    margin: -30px 0 30px;
    text-align: center;
}

.login__container .login__forgot a {
    font-size: 14.5px;
    text-decoration: none;
}

.login__container .login__animation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.login__container .login__animation::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: var(--primary);
    border-radius: 30px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.login__container.active .login__animation::before {
    left: -25%;
}

.login__container .login__panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: var(--neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in-out;
    z-index: 2;
}

.login__panel.animation__left {
    left: 0;
}

.login__container.active .login__panel.animation__left {
    left: -50%;
}

.login__panel.animation__right {
    right: -50%;
}

.login__container.active .login__panel.animation__right {
    right: 25%;
    transition-delay: .6s;
}

.login__panel h1 {
    color: var(--neutral-100);
}

@media screen and (max-width: 48rem) {
    .login__container {
        width: -webkit-fill-available;
        margin: 30px 10px;
        box-sizing: border-box;
    }

    .login__content {
        margin: 0;
        padding: 30px;
        box-sizing: border-box;
        transition: all 0s ease-in-out;
    }

    .login__panel.animation__left {
        display: none;
    }

    .login__container .login__animation::before {
        left: -300%;
    }
}