.wishlist__container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    max-width: 860px;
}

.wishlist__text {
    margin-bottom: 40px;
}

.wishlist__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 40px;
    flex-direction: column;
    border: 1px solid var(--neutral-300);
}

.wishlist__item {
    text-decoration: none;
    text-align: left;
    border-radius: 24px;
    transition: transform .3s ease-in-out;
}

.wishlist__item .offers__card__tags {
    margin-bottom: 0;
}