.admin__container {
    max-width: 1268px;
    margin: auto;
    padding: 100px 24px;
}

.table__container {
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

table {
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

thead {
    background-color: var(--primary);
    color: var(--neutral-100);
}

tbody {
    background-color: var(--neutral-200);
}

td, th {
    padding: 10px;
}

tr {
    border-top: 1px solid var(--neutral-300);
}

.admin__modify {
    margin-right: 30px;
    text-decoration: none;
}

.admin__modify:hover {
    color: var(--secondary);
}

.admin__delete {
    margin-right: 10px;
    text-decoration: none;
    color: var(--danger);
}

.admin__delete:hover {
    color: var(--danger-dark);
}