/* Buttons */

.button__primary {
    border: none;
    background-color: var(--primary);
    color: var(--neutral-100);
    border-radius: 12px;
    padding: 26px 38px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.button__primary.button--small, .button__secondary.button--small {
    padding: 20px 24px;
    font-size: 16px;
    line-height: 18px;
}

.button__secondary {
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-100);
    color: var(--neutral-800);
    border-radius: 12px;
    padding: 26px 38px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    transition: transform .35s, box-shadow .35s, color .35s, border-color .35s;
    display: inline-block;
    box-shadow: var(--shadow);
}

.button__icon {
    transition: transform .2s ease-in-out;
}

.button__primary:hover .button__icon {
    transform: translateX(6px);
}

.button__primary:hover {
    background-color: var(--secondary);
    color: var(--neutral-100);
    transform: scale(.95);
    cursor: pointer;
}

.button__secondary:hover {
    border-color: var(--primary);
    color: var(--primary);
    transform: scale(.95);
    box-shadow: var(--shadow);
    cursor: pointer;
}

@media screen and (max-width: 48rem) {
    .button__primary, .button__secondary {
        border-radius: 8px;
        padding: 20px 28px;
    }
}

@media screen and (min-width: 48rem) {
    .button__primary.button--small.compact {
        padding: 10px 24px;
        border-radius: 50px
    }
}