.login__container {
    margin: auto;
    padding: 100px 0;
}

.login__content {
    border: 1px solid var(--neutral-300);
    box-shadow: var(--shadow);
    text-align: center;
    margin: auto;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    padding: 70px 90px;
}