@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", serif;
    margin: 0;
    color: var(--neutral-600);
    font-size: 18px;
    line-height: 1.6em;
}

a {
    color: var(--primary-1);
    text-decoration: underline;
    transition: color .35s;
    outline: 0;
}

a:hover {
    color: var(--neutral-800);
}

main {
    min-height: 100vh;
}

/* Logo pour le header et le footer */

.logo:hover img {
    transform: scale(.95);
}

.logo img {
    display: block;
    height: auto;
    width: 250px;
    transition: transform 0.2s ease-in-out;
}

input {
    border: none;
    border-radius: 16px;
    width: -webkit-fill-available;
    padding: 26px 24px;
    font-family: inherit;
    outline: none;
}

hr {
    border: 1px solid var(--neutral-300);
    margin: 50px 0;
}

/* Icones Google */

.material-symbols-rounded {
    display: inline-flex !important;
    vertical-align: middle !important;
}


/* Variables CSS */
:root {
    --primary-1: #e2b043;
    --secondary-1: #bf912f;
    --secondary-2: #efefff;
    --neutral-100: white;
    --neutral-200: #fbfaf7;
    --neutral-300: #e6e1d5;
    --neutral-400: #d1cbb6;
    --neutral-500: #bfae69;
    --neutral-600: #746734;
    --neutral-700: #64572c;
    --neutral-800: #3b3317;
    --neutral-900: #000000;
    --general-shadow-02: #0f086a0a;
    --general-shadow-01: #0f086a08;
    --general-shadow-03: #0f086a0f;
    --general-shadow-05: #0f086a1f;
    --general-shadow-06: #0f086a3d;
}