<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Intern Rift - La faille qui vous mène aux meilleurs stages.</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>

{% include 'navbar.twig' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'footer.twig' %}

</body>
</html>