<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Intern Rift - La faille qui vous mène aux meilleurs stages.</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/assets/css/admin.css" rel="stylesheet">
    <link href="/assets/css/buttons.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/header.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/login.css" rel="stylesheet">
    <link href="/assets/css/modif_profil.css" rel="stylesheet">
    <link href="/assets/css/offers.css" rel="stylesheet">
    <link href="/assets/css/offers-details.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/typography.css" rel="stylesheet">
    <link href="/assets/css/wishlist.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

</head>

<body class="admin__body">

<nav id="adminSidebar">
    <ul class="sidebar__list">
        <li class="sidebar__logo__container">
            <img src="/assets/img/logo.webp" alt="Logo" class="sidebar__logo">
            <button onclick="changeSidebar()" id="toggleBtn">
                <i class="icon">keyboard_double_arrow_left</i>
            </button>
        </li>
        <li class="active">
            <a href="">
                <i class="icon">home</i>
                <span>Accueil</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon">school</i>
                <span>Elèves</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon">supervisor_account</i>
                <span>Pilotes</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon">work</i>
                <span>Offres</span>
            </a>
        </li>
    </ul>

    <ul class="sidebar__list">
        <li>
            <a href="">
                <img src="/assets/img/martin.webp" alt="Avatar" class="profile__picture">
                <div class="profile__info">
                    <span class="name">Martin Matin</span>
                    <span class="email">martin.matin@viacesi.fr</span>
                </div>
            </a>
        </li>
    </ul>
</nav>

<button class="button__primary" onclick="toggleSidebar()" id="adminHamburger">
    <i class="icon" id="headerIcon">menu</i>
</button>

<main class="admin__main">
    {% block content %}{% endblock %}
</main>

<script src="/assets/js/test.js"></script>

</body>
</html>