<footer class="footer">
    <section class="footer__container">
        <div class="footer__logo">
            <a class="logo" href="#">
                <img alt="Logo | Intern Rift" height="135" src="http://static-intern-rift.westeurope.cloudapp.azure.com/img/logo.webp" width="617">
            </a>
            <p>La faille qui vous mène aux meilleurs stages.</p>
        </div>
        <ul class="footer__links">
            <li><h5>Pages principales</h5></li>
            <li><a class="footer__link" href="/">Accueil</a></li>
            <li><a class="footer__link" href="/offres">Offres</a></li>
            <li><a class="footer__link" href="/entreprises">Entreprises</a></li>
            <li><a class="footer__link" href="/connexion">Connexion</a></li>
        </ul>
        <ul class="footer__links">
            <li><h5>Pages utilitaires</h5></li>
            <li><a class="footer__link" href="/mentions-legales">Mentions légales</a></li>
            <li><a class="footer__link" href="/cgu">CGU</a></li>
        </ul>
    </section>
    <section class="footer__copyright">
        <p>Tous droits réservés © 2025 Intern Rift | Créé par le Groupe n°2.</p>
    </section>
</footer>